// buttons
.main-btn {
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    background-color: $main-color;
    color: white;
}


// google icons material

.material-symbols-outlined {
    font-variation-settings:
        'FILL'1,
        'wght'600,
        'GRAD',
        'opsz'24;
}


.down-arrow {
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    background-color: white;

    &::before {
        content: "keyboard_arrow_down";
    }
}

.up-arrow {
    display: inline-block;
    padding: 1.4rem;
    border-radius: 50%;
    background-color: $main-color;

    &::before {
        content: "keyboard_arrow_up";
        color: white;
    }
}

.btn {
    padding: 1.8rem;
    background-color: black;
    border-radius: 10px;
    
}