// buttons
.btn {
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    background-color: $main-color;
    color: white;
}


// google icons material

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'600,
        'GRAD'0,
        'opsz'24;
}

