/*Fonts*/
$h1-fontsize: 40px;
$h2-fontsize: 32px;
$h3-fontsize: 28px;
$h4-fontsize: 24px;
$h5-fontsize: 20px;
$h6-fontsize: 16px;

$display-1:80px;
$display-2: 72px;
$display-3: 64px;
$display-4: 56px;
$display-5: 48px;
$display-6: 42px;

$lead-text: 24px;
$XL-text: 20px;
$L-text: 18px;
$M-text: 16px;
$S-text: 14px;
$XS-text: 12px;