@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1.5rem;

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}