@import "reset";
@import "variables";
@import "utility_classes";
@import "slider";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


// /* Dark Mode */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black;
//         color: white;
//     }
// }

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: $regular;
    font-style: normal;
}

a {
    all: unset;
    cursor: pointer;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    margin: 0 auto;

    .logo {
        height: 70px;
    }

    .main-navigation {
        display: none;
    }

    .signin {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    }



    @media (width > 768px) {
        gap: 3rem;
        padding: 1rem 2rem;
        max-width: 992px;
        margin: 0 auto;
    }

    @media (width > 1200px) {
        grid-template-columns: auto 1fr auto auto;
        max-width: 1320px;
        margin: 0 auto;

        .main-navigation {
            display: block;
        }

        .signin {
            display: flex;
            gap: 0.5rem;
        }

        .mobile-menu {
            display: none;
        }
    }
}

.hero-wrapper-bg {
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);

    .hero-container {

        margin: 0 auto;
        text-align: center;

        .hero-heading {
            font-size: $h1-fontsize;
            font-weight: $extra-bold;
            text-shadow: 1px 5px 6px rgba(0, 0, 0, 0.404);
            padding-bottom: 2rem;
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .hero-text {
                max-width: 34ch;
                font-size: $L-text;
            }

            .app-store-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            .discover-more {
                display: flex;
                padding-bottom: 2rem;
                align-items: center;
                gap: 1rem;
                color: $text-color-gray;
                font-size: $S-text;
                font-weight: $regular;
            }

            .hero-text,
            .discover-more {
                color: $text-color-gray;
                font-weight: $regular;
            }
        }

        aside {
            display: none;
        }

    }

}