@import "reset";
@import "variables";
@import "utility_classes";
@import "slider";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


// /* Dark Mode */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black;
//         color: white;
//     }
// }

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: $regular;
    font-style: normal;
}

a {
    all: unset;
    cursor: pointer;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    max-width: $max-width-small;

    .logo {
        height: 4.5rem;
    }

    .main-navigation {
        display: none;
    }

    .signin {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    }



    @media (min-width: $ipad-mini) {
        gap: 3rem;
        padding: 1rem 1rem;
        max-width: $max-width-medium;
    }

    @media (min-width: $big-screen) {
        grid-template-columns: auto 1fr auto auto;
        max-width: $max-width-big;
        padding: 1rem 1rem;

        .main-navigation {
            display: block;
        }

        .signin {
            display: flex;
            gap: 0.5rem;
        }

        .mobile-menu {
            display: none;
        }
    }
}

.hero-wrapper-bg {
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);

    .hero-container {

        margin: 0 auto;
        text-align: center;
        max-width: $max-width-small;
        position: relative;
        padding: 1rem;

        @media (min-width: $ipad-mini) {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            max-width: $max-width-medium;

        }

        @media (min-width: $big-screen) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            max-width: $max-width-big;
        }


        .hero-heading {
            font-size: $h1-fontsize;
            font-weight: $extra-bold;
            text-shadow: 1px 5px 6px rgba(0, 0, 0, 0.404);
            padding-bottom: 2rem;

            @media (min-width: $ipad-mini) {
                grid-column: 1/3;
                font-size: $display-5;
                padding-bottom: 0;
            }

            @media (min-width: $medium-screen) {
                padding-bottom: 3rem;
            }

            @media (min-width: $big-screen) {
                grid-column: 1/1;
                grid-row: 1/2;
                font-size: $display-4;
                padding: 5rem 0 1rem 0;
                text-align: start;
            }
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            @media (min-width: $ipad-mini) {
                padding: 5rem 0 2rem 0;
                align-items: start;
                gap: 4rem;

            }

            @media (min-width: $big-screen) {
                align-items: start;
                grid-column: 1/1;
                grid-row: 2/3;
                padding: 0rem 5rem 2rem 0;
            }

            .hero-text {
                max-width: 34ch;
                font-size: $L-text;

                @media (min-width: $ipad-mini) {
                    max-width: 25ch;
                    text-align: start;

                }

                @media (min-width: $medium-screen) {
                    max-width: 30ch;
                }

                @media (min-width: $big-screen) {
                    max-width: 50ch;
                }
            }

            .app-store-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: calc(100% - 4rem);


                @media (min-width: $ipad-mini) {
                    gap: 0.5rem;
                    align-items: flex-start;
                    width: 100%;
                }

                @media (min-width: $medium-screen) {

                    flex-direction: row;
                    
                }



                @media (min-width: $big-screen) {
                    padding: 0;
                }

                .google-play,
                .app-store {
                    width: 100%;
                    position: relative;
                    display: block;
                    padding: 2rem;
                    background-color: black;
                    border-radius: $border-radius;




                    @media (min-width: $ipad-mini) {
                        width: 80%;
                    }
                }


                .app-store {

                    &::before {
                        content: url("img/apple-store.svg");
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        padding-top: .5rem;
                    }
                }

                .google-play {
                    &::before {
                        content: url("img/google-play.svg");
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        padding-top: .5rem;
                    }
                }
            }

            .discover-more {
                display: flex;
                padding-bottom: 2rem;
                align-items: center;
                gap: 1rem;
                color: $text-color-gray;
                font-size: $S-text;
                font-weight: $regular;

                @media (min-width: $big-screen) {
                    grid-column: 2/3;
                    grid-row: 1/3;
                    justify-self: flex-end;
                    margin-top: 6rem;
                }
            }

            .hero-text,
            .discover-more {
                color: $text-color-gray;
                font-weight: $regular;
            }
        }

        aside {
            display: none;

            @media (min-width: $ipad-mini) {

                display: block;
                position: absolute;
                bottom: 0;
                right: 1rem;
            }
        }

    }

}


.brands-container {
    display: none;

    @media (min-width: $ipad-mini) {
        margin: 0 auto;
        max-width: $max-width-medium;
        display: flex;
        justify-content: space-between;
        padding: 4rem 1rem;
        gap: 1rem;

        .brand-logo {
            border: 2px solid $border-gray;
            border-radius: $border-radius;
            padding: 1.5rem;
        }

        .brand-logo:nth-last-child(-n + 2) {
            display: none;
        }
    }

    @media (min-width: $big-screen) {

        max-width: $max-width-big;

        .brand-logo:nth-last-child(-n + 2) {
            display: block;
        }
    }


}



.app-features-container {
    max-width: $max-width-small;
    margin: 0 auto;
    padding: 2rem 1rem;

    .app-feat-heading,
    .app-feat-text {
        text-align: center;
        max-width: 45ch;
        padding-bottom: 2rem;
    }


    .feature {
        display: flex;
        gap: 1.5rem;
        padding: 1rem 0;
    }

    .feature-icon {
        padding: 1.8rem;
        background-color: rgb(185, 185, 185);
        display: flex;
        align-self: first baseline;
        justify-content: center;
        border-radius: $border-radius;
        position: relative;
    }

    .icon-1::before {
        content: url("img/gradient-icon-1.svg");
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .feature-description {
        font-size: $S-text;
        max-width: 40ch;
    }
}